#root {
}

.app {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #282828;
  text-decoration: underline;
}

